Agence/src/main/resources/xsd/agence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://tp1.org/agence/soap"
           targetNamespace="http://tp1.org/agence/soap"
           elementFormDefault="qualified">

    <!-- Types complexes -->
    <xs:complexType name="chambre">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="numero" type="xs:string"/>
            <xs:element name="prix" type="xs:float"/>
            <xs:element name="nbrLits" type="xs:int"/>
            <xs:element name="hotelNom" type="xs:string"/>
            <xs:element name="hotelAdresse" type="xs:string"/>
            <xs:element name="disponible" type="xs:boolean"/>
            <xs:element name="imageUrl" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="client">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="numeroCarteBleue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="reservation">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="clientNom" type="xs:string"/>
            <xs:element name="clientPrenom" type="xs:string"/>
            <xs:element name="chambreId" type="xs:int"/>
            <xs:element name="chambreNom" type="xs:string"/>
            <xs:element name="dateArrive" type="xs:string"/>
            <xs:element name="dateDepart" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="hotelReservations">
        <xs:sequence>
            <xs:element name="hotelNom" type="xs:string"/>
            <xs:element name="reservations" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==================== PING ==================== -->
    <xs:element name="pingRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="pingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==================== RECHERCHER CHAMBRES ==================== -->
    <xs:element name="rechercherChambresRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="adresse" type="xs:string" minOccurs="0"/>
                <xs:element name="dateArrive" type="xs:string"/>
                <xs:element name="dateDepart" type="xs:string"/>
                <xs:element name="prixMin" type="xs:float" minOccurs="0"/>
                <xs:element name="prixMax" type="xs:float" minOccurs="0"/>
                <xs:element name="nbrEtoile" type="xs:int" minOccurs="0"/>
                <xs:element name="nbrLits" type="xs:int" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="rechercherChambresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chambres" type="tns:chambre" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==================== EFFECTUER RESERVATION ==================== -->
    <xs:element name="effectuerReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="client" type="tns:client"/>
                <xs:element name="chambreId" type="xs:int"/>
                <xs:element name="dateArrive" type="xs:string"/>
                <xs:element name="dateDepart" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="effectuerReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:int"/>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==================== GET ALL RESERVATIONS BY HOTEL ==================== -->
    <xs:element name="getAllReservationsByHotelRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllReservationsByHotelResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotels" type="tns:hotelReservations" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>

