Agence/src/main/resources/xsd/hotel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://tp1.org/hotellerie/soap"
           targetNamespace="http://tp1.org/hotellerie/soap"
           elementFormDefault="qualified">

    <!-- Types énumérés -->
    <xs:simpleType name="typeHotel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAT1"/>
            <xs:enumeration value="CAT2"/>
            <xs:enumeration value="CAT3"/>
            <xs:enumeration value="CAT4"/>
            <xs:enumeration value="CAT5"/>
            <xs:enumeration value="CAT6"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Types complexes -->
    <xs:complexType name="chambre">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prix" type="xs:float"/>
            <xs:element name="nbrDeLit" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="client">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="numeroCarteBleue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="hotel">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="adresse" type="xs:string"/>
            <xs:element name="type" type="tns:typeHotel"/>
            <xs:element name="nombreChambres" type="xs:int"/>
            <xs:element name="nombreReservations" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="reservation">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="client" type="tns:client"/>
            <xs:element name="chambre" type="tns:chambre"/>
            <xs:element name="dateArrive" type="xs:string"/>
            <xs:element name="dateDepart" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Recherche de chambres -->
    <xs:element name="rechercherChambresRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="adresse" type="xs:string" minOccurs="0"/>
                <xs:element name="dateArrive" type="xs:string"/>
                <xs:element name="dateDepart" type="xs:string"/>
                <xs:element name="prixMin" type="xs:float" minOccurs="0"/>
                <xs:element name="prixMax" type="xs:float" minOccurs="0"/>
                <xs:element name="nbrEtoile" type="xs:int" minOccurs="0"/>
                <xs:element name="nbrLits" type="xs:int" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="rechercherChambresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chambres" type="tns:chambre" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="hotelNom" type="xs:string"/>
                <xs:element name="hotelAdresse" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Effectuer une réservation -->
    <xs:element name="effectuerReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="client" type="tns:client"/>
                <xs:element name="chambreId" type="xs:int"/>
                <xs:element name="dateArrive" type="xs:string"/>
                <xs:element name="dateDepart" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="effectuerReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:int"/>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Obtenir les informations de l'hôtel -->
    <xs:element name="getHotelInfoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dummy" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHotelInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotel" type="tns:hotel"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Obtenir toutes les réservations -->
    <xs:element name="getReservationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dummy" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getReservationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservations" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>

